<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleExecutable</key>
        <string>JavaApplicationStub</string>
        <key>CFBundleGetInfoString</key>
        <string>Michaels_Caching_Wolfram_app1.0, Copyright {user} 2004. All rights reserved.</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleIconFile</key>
        <string>Michaels Caching Wolfram app V1.icns</string>
        <key>CFBundleIdentifier</key>
        <string>Wolfram Alpha Caching app</string>
        <key>CFBundleName</key>
        <string>Michaels Caching Wolfram app V1</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>Michael Maddy</string>
        <key>CFBundleVersion</key>
        <string>1.0.1</string>
        <key>Java</key>
        <dict>
            <key>JVMVersion</key>
            <string>1.4*</string>
            <key>MainClass</key>
            <string>starter.Michaels_Caching_Wolfram_app</string>
            <key>Arguments</key>
            <array/>
            <key>ClassPath</key>
            <string>$JAVAROOT/jar_0.jar:$JAVAROOT/commons-codec-1.6.jar:$JAVAROOT/commons-logging-1.1.3.jar:$JAVAROOT/httpclient-4.3.6.jar:$JAVAROOT/httpcore-4.3.3.jar:$JAVAROOT/WolframAlpha-1.1.jar</string>
        </dict>
    </dict>
</plist>
